{% extends 'base.html' %}
{% block title %} Home page {% endblock %}

{% block content %}
    <h2>Home page</h2>
    <div class="container posts-content">
        {% for review in page_obj %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="media mb-3">
                                <img style="width: 300px; height: 400px;" src="{{ review.book.cover_picture.url }}" alt="">
                                <div class="media-body ml-3">
                                    {{ review.user.username }}
                                    <p>{{ review.book.title }}</p>
                                    <p>{{ review.comment }}</p>
                                    <p>Rating: {{ review.stars_given }} / 5</p>
                                    <p>{{review.created_at}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="javascript:void(0)" class="d-inline-block text-muted">
                                <strong>123</strong> <small class="align-middle">Likes</small>
                            </a>
                            <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                                <strong>12</strong> <small class="align-middle">Comments</small>
                            </a>
                            <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                                <small class="align-middle">Repost</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
